#PALANTIR *,
#PALANTIR *:before,
#PALANTIR *:after {
  text-align: left;
  font: normal normal 300 14px/18px 'Muli', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif;
  padding: 0; margin: 0;
  text-indent: 0; text-decoration: none; text-transform: none;
  border: 0; border-radius: 0; background: none;
  content: "";
  width: auto; height: auto;
  float: none;
}

#PALANTIR {
  background: #202020;
  display: block;
  width: 100%; height: 100%;
  max-width: 320px;
  position: fixed;
  top: 0; right: 0;
  z-index: 2147483646;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-box-shadow: 0 2px 8px 0 #000;
  box-shadow: 0 2px 8px 0 #000;
}

#palantir-search-box {
  position: absolute;
  left: 0; right: 0;
  z-index: 1;
  background: #202020 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gIHBCovwETliwAAAAJiS0dEAP+Hj8y/AAABHUlEQVQYGQXBv4vPcQDA4dfnfn+7kGP3a7DJv2BhJikWZbGo+xueUjcabGIzkoU6g5BcIQbKIDNJSRRHubfnSSWVeWe8teOf4YMrZlWVVNbcM/z12m1v/DBsWatKZeaW4bHjVeWIh4Yty6nKKcNDu8rMopmpbBoupDJz0z8Xy0qpLJgc9dvLVPZ676ODZU4lWS4fbaey32fv7CqTSmW5vDJS2e2JT46VhZJkpfzyNZU564ZrZcmiefNWy7rhemUqhw3fXKqqKud9MRzKJAvu2jYMN5xzwmkbfhouV+ZNHhiGF54bdnz3x/DJ2VJl0zA8ssc+p2y446qTDlQp9w3DUytVZdGqhaqSMgzPLMmkqqqSqnLVDUsmU5UkSaX6DybWrujVzOmsAAAAAElFTkSuQmCC") no-repeat 8px center;
  border-bottom: 1px solid #121212;
  box-shadow: 0 1px 0 #262626;
}

#palantir-search-field {
  padding: 16px 0;
  margin: 0 32px;
}

#PALANTIR input[type="search"] {
  -webkit-appearance: textfield;
  font: normal normal 200 14px/18px 'Muli', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif;
  width: 100%;
  outline: none;
  color: #A9A9A9;
}

#PALANTIR input[type="search"]:focus {
  outline: none;
}

#PALANTIR input::-webkit-input-placeholder {
  color: #909090;
}
 
#PALANTIR input[type="search"]::-webkit-search-decoration,
#PALANTIR input[type="search"]::-webkit-search-results-button,
#PALANTIR input[type="search"]::-webkit-search-results-decoration  {
  -webkit-appearance: none;
}

#PALANTIR ul {
  position: absolute;
  top: 48px; bottom: 0; left: 0; right: 0;
  display: block;
  list-style-type: none;
  overflow-x: hidden;
  overflow-y: auto;
}

#PALANTIR li {
  display: block;
  margin: 0; padding: 0;
  border: 0; text-indent: 0;
  background-repeat: no-repeat;
  background-position: 8px center;
  background-size: 16px 16px;
  border-top: 1px solid #262626;
  box-shadow: 0 -1px 0 #121212;
  padding: 8px 8px 8px 32px;
}

#PALANTIR li a {
  display: block;
  text-align: left;
  text-decoration: none;
  color: #A9A9A9;
  text-shadow: 0 1px 0 #000;
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#PALANTIR li a span {
  color: #FFFFFF;
}

#PALANTIR li a span:after {
  content: "\a";
  white-space: pre;
}

#palantir-close {
  position: fixed;
  top: 0; right: 0;
  z-index: 2147483647;
  display: block;
  width: 32px; height: 48px;
  background: #202020 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAMCAMAAACKnBfWAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gIHDw8x3u3n7gAAAG9QTFRFFBQUFxcXGBgYGRkZGhoaGxsbHR0dHh4eAAAAJCQkJycnKCgoKioqMTExNDQ0Ojo6PDw8Pj4+QUFBRUVFSUlJTU1NT09PWFhYWlpaaGhoa2trbW1tcHBwd3d3eXl5enp6e3t7g4ODhISEhYWFhoaGj9PVXAAAAAh0Uk5TAAAAAAAAAAC351KhAAAAAWJLR0QIht6VegAAAGBJREFUCNdNzckSgjAUBdEXm0gFRcCRSVCu//+NbpIivT/VRtbthf1iwFW6mGLQSfeDpWilh8OSbTY9HclTf9U7IHr8oPUEJE0xbGvF7vGjlpD//aR3yP4c5895/wNlxR9HKAsXRxKYbwAAAABJRU5ErkJggg==") no-repeat center center;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
}


#PALANTIR {
  transition: transform 0.6s ease;
  transform-origin: right; 
  perspective: 200px;
  transform-style: preserve-3d;
  transform: rotateY(-90deg);
  -webkit-transition: -webkit-transform 0.6s ease;
  -webkit-transform-origin: right; 
  -webkit-perspective: 200px;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateY(-90deg);
}

#PALANTIR.open {
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
}